* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-weight: lighter;
  font-family: Arial, Sans-serif;
}

.logo {
	margin-top:50px;
	width: auto;
	height: 70px;
	float: left;
}

.button {

}

.container {
	width: 1200px;
	margin: 0 auto;
	height: 200px;
}

header {
	background: #222222;
	height: 200px;
}

.top2 {
	border-radius: 1px;
	margin-top: 75px;
	margin-left: 50px;
	width: 350px;
}

.top3 {
	margin-top: 65px;
	margin-right: 20px; 
	float: right;
	background: #ffffff;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 200px;
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.top4 {
	margin-left: 30px; 
	margin-bottom: 25px;
	background: #222222;
	color: #ffffff;
	border-radius: 3px;
	display: block;
	width: 200px;
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}


.footerMenu {
	background: #222222;
	height: 200px;
}

<!-- index -->

.question__headers {
}
.question__headers a {
	text-decoration: none;
	color: #808080;
}

.question__headers li {
	display: inline-block;
	margin: 5px 20px 5px 0px;
	font-size: 40px;
	text-decoration: none;
	text-transform: uppercase;
}

#first_cont {
	height: 10px;
}

#sec {

}


.zzz {
	height: 100px;
	width: 800px;
	background: #c0c0c0;
	border: 4px dotted white;
	text-decoration: none;
}


.zzz p {
	display: block;
	float: left;
	margin: 40px 40px 0 30px;
}

.zzz p:nth-of-type(3) {
	color: white;
}

.zzz p:last-child {
	float: right;
}

.section {
	margin-top: 80px;
}

.small-box {
	width: 12px;
	margin: 0 auto;
}

.layer1 {
	padding: 5px; /* Поля вокруг текста */
	float: left; /* Обтекание по правому краю */
	width: 800px; /* Ширина слоя */
}

.layer2 {
	background-color: #c0c0c0; /* Цвет фона слоя */
	padding: 5px; /* Поля вокруг текста */
	width: 250px; /* Ширина слоя */
	float: right; /* Обтекание по правому краю */
	margin-right: 40px;
	margin-top: 5px;
	text-align: center;
	text-decoration: none;
}

.clear {
	clear: left; /* Отмена обтекания */
}

.trend {
	height: 50px;
	background: #c0c0c0;
	border: 4px dotted white;
	text-decoration: none;
	text-align: center;
}

.trend p {
	margin: 4px 0px 20px 85px;
	background: #1669F8;
	color: #ffffff;
	border-radius: 5px;
	display: block;
	width: 65px;
    height: 20px;
	font-size: 18px;
}

