* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-weight: lighter;
  font-family: Arial, Sans-serif;
}

.logo {
	margin-top:50px;
	width: auto;
	height: 70px;
	float: left;
}

.enter_button {
	margin-left: 30px;
	margin-bottom: 25px;
	background: #222222;
	color: #ffffff;
	display: block;
	width: 200px;
	height: 45px;
	border-radius: 5px;
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	height: 200px;
}

header {
	background: #222222;
	height: 200px;
}

.top2 {
	border-radius: 1px;
	margin-top: 75px;
	margin-left: 50px;
	width: 350px;
}

.top3 {
	margin-top: 65px;
	margin-right: 20px; 
	float: right;
	background: #ffffff;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 200px;
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.top4 {
	margin-left: 30px; 
	margin-bottom: 25px;
	background: #222222;
	color: #ffffff;
	border-radius: 3px;
	display: block;
	width: 200px;
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.footerMenu {
	background: #222222;
	height: 200px;
}

.question__headers a {
	text-decoration: none;
	color: #808080;
}

.layer1 {
	float: left; /* Обтекание по правому краю */
	width: 800px; /* Ширина слоя */
}

.layer1 h2 {
	padding: 10px;
	text-decoration: none;
	color: #808080;
	font-size: 40px;
}


.layer2 {
	background-color: #c0c0c0; /* Цвет фона слоя */
	padding: 5px; /* Поля вокруг текста */
	width: 250px; /* Ширина слоя */
	float: right; /* Обтекание по правому краю */
	margin-right: 40px;
	margin-top: 5px;
	text-align: center;
	text-decoration: none;
}

.trend {
	height: 50px;
	background: #c0c0c0;
	border: 4px dotted white;
	text-decoration: none;
	text-align: center;
}

.lay_one label {
	color: #808080;
	text-decoration: none;
	font-size:  25px;
}

.lay_one p{
    margin-top: 25px;
}

.lay_one {
    margin-left: 50px;
}