.trend {
	height: 50px;
	background: #c0c0c0;
	border: 4px dotted white;
	text-decoration: none;
	text-align: center;
}

.trend p {
	margin: 4px 0px 20px 85px;
	background: #1669F8;
	color: #ffffff;
	border-radius: 5px;
	display: block;
	width: 65px;
    height: 20px;
	font-size: 18px;
}