{% load static %}
<div class="answer">
    <div class="answer__left">
        <a href="#"><img src="{% static 'img/arrow_up.png' %}"></a>
        <p>42</p>
        <a href="#"><img src="{% static 'img/arrow_down.png' %}"></a>
    </div>
    <p>
        testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</p>
    <p>
        <a href="#">tag1</a>
        <a href="#">tag2</a>
    <p style="float: right;">nickname</p>
    <img src="{% static 'img/avatar.jpg' %}" style="float: right;">
</div>
