{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Stackoverflow</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/answerQuestion.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/logged_user.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/trends.css' %}">

</head>
<body>
	{% include 'header.html' %}
	<section id="sec clearfix">
		<div class="container">
			<div class="layer1">
				<h2>How to Otus?</h2>

				{% for answer in answers %}
					<div class="answer">
						<div class="answer__left">
							<a href="#"><img src="{% static 'img/arrow_up.png' %}"></a>
							<p>{{ answer.votes }}</p>
							<a href="#"><img src="{% static 'img/arrow_down.png' %}"></a>
						</div>
						<p>{{answer.answerText}}</p>
						<p>
							{% for tag in answer.tags %}
								<a href="#">{{ tag }}</a>
							{% endfor %}
						</p>
						<p style="float: right;"> {{answer.author}} </p>
						<p style="color:red;">DELETE - Автор это ForeignKey для базы User - с него можно тащить инфу о юзере - nickname/avatar</p>
						<!--<img src="{% static 'img/avatar.jpg' %}" style="float: right;">-->
						<img src="{{ answer.author }}" style="float: right;">
					</div>
				{% endfor %}

				<!--<div class="answer">-->
					<!--<h2>Your answer</h2>-->
					<!--<input type="text" placeholder="Ответ" class="answer__input" />-->
					<!--<a href="#" class="top4">Submit</a>-->
				<!--</div>-->
				<div class="lay_one">
					<form action="" method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="submit" value="Submit" class="enter_button" style="margin: 50px 0 0 250px">
					</form>
				</div>
			</div>
			{% include 'right_body_html.html' %}
		</div>
	</section>
	<footer></footer>
</body>
</html>