{% load static %}

{% if user is not None and user.username != admin%}
    <header class="container clearfix">
        <a href="/index"><img src="{% static 'img/logo.png' %}" class="logo"></a>
        <div class="topmenuelements">
            <input type="text" placeholder="Поиск..." class="top2"/>
            <div class="loggerleft">
                <!--<a href="#"><img src="{% static 'img/avatar.jpg' %}" class="avatar">-->
                <a href="/user_settings"><img src="{{ user.avatar }}" class="avatar"></a>
                <a href="/user_settings" style="color: white">{{ user.nickname }}</a>
                <a href="#" style="margin-left: 130px"><img src="{% static 'img/logoutbutton.png' %}" class="logoutbutton">
                </a>
            </div>
        </div>
    </header>
{% else %}
    <header class="container clearfix">
        <a href="/index"><img src="{% static 'img/logo.png' %}" class="logo"></a>
        <div class="topmenuelements">
            <input type="text" placeholder="Поиск..." class="top2"/>
            <a href="/signUp" class="top3">Sign Up</a>
            <a href="/login" class="button top3">Log In</a>
        </div>
    </header>
{% endif %}