{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Stackoverflow</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/trends.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/logged_user.css' %}">
</head>
<body>
	{% include 'header.html' %}
	<section id="sec clearfix">
		<div class="container">
			<div class="layer1">
				<div class="question__headers">
					<ul>
						<li><a href="sort_by_date" class="question_tab">New questions</a></li>
						<li><p>|</p></li>
						<li><a href="sort_by_votes" class="question_tab">Hot questions</a></li>
					</ul>
				</div>
				{% for question in questions %}
					<div class="zzz">
						<p> {{ question.votes }} <br> Votes</p>
						<p> {{ question.answers }} <br> Answers</p>
						<p><a href="/answerQuestion">{{ question.title }}</a> <br> {{ question.tags }} </p>
						<p> {{ question.author }} asked : {{ question.create_date }}</p>
					</div>
				{% endfor %}
			</div>
			{% include 'right_body_html.html' %}
    	</div>
	</section>
	<footer></footer>
</body>
</html>