<div class="layer2">
    <a href="/askQuestion" class="top4">Ask</a>
    <h3>Trending</h3>
    <div class="trends">
        {% for question in questions %}
		    <div class="trend">
			    {{ question.title }}
				<br>
				<p> {{ question.votes }} </p>
            </div>
        {% endfor %}
    </div>
</div>