{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Stackoverflow</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/logged_user.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/trends.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/logged_user.css' %}">
</head>
<body>
	{% include 'header.html' %}
	<section id="sec clearfix">
	<div class="container">
		<div class="layer1">
			<h2>Log In</h2>
			<div class="login-field">
				<div>Login</div>
				<div>NickName</div>
			</div>
			<div class="login-field">
				<div>Email</div>
				<div><input type="text" placeholder="userMail"></div>
			</div>
			<div class="login-field">
				<div>Avatar</div>
				<div><img src="{% static 'img/avatar.jpg' %}"></div>
			</div>
			<a href="#" class="top4" style="margin: 50px 0 0 200px">Save</a>
		</div>
		{% include 'right_body_html.html' %}
		</div>
	</section>
	<footer></footer>
</body>
</html>