{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Stackoverflow</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/signUp.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/trends.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/logged_user.css' %}">
</head>
<body>
	{% include 'header.html' %}
	<section id="sec clearfix">
		<div class="container">
			<div class="layer1">
				<h2>Sign Up</h2>
				<div class="lay_one">
					<form action="" method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="submit" value="Submit" class="enter_button" style="margin: 50px 0 0 250px">
					</form>
				</div>
			</div>
		{% include 'right_body_html.html' %}
		</div>
	</section>
	<footer></footer>
</body>
</html>